.header {
  display: flex;
  width: 100%;
}

.header ul {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  padding: 0;
  overflow: hidden;
}

.header li {
  float: left;
}

.body {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
}
